*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;

  background: #F4E7D3;
}

/* HEADER */

header{
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 10px 50px;

  background: #A84300;

  position: sticky;

  top: 0;

  z-index: 1000;
}

header h1{
  color: white;

  font-size: 34px;

  font-family: 'Berkshire Swash', cursive;
}

nav a{
  margin-left: 22px;

  text-decoration: none;

  color: white;

  font-weight: 500;

  font-size: 16px;

  transition: 0.3s;
}

nav a:hover{
  opacity: 0.7;

  transform: scale(1.05);
}

/* TÍTULO */

.titulo-cardapio{
  text-align: center;

  padding: 90px 20px 50px;
}

.titulo-cardapio h2{
  font-size: 68px;

  color: #5C2E16;

  margin-bottom: 20px;

  font-family: 'Berkshire Swash', cursive;

  text-align: center;
}

.titulo-cardapio p{
  color: #666;

  font-size: 20px;
}

/* CARDS */

.cards{
  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;

  padding: 40px 70px 90px;
}

.card{
  background: #FFF9F2;

  width: 300px;

  border-radius: 20px;

  overflow: hidden;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  transition: 0.4s;

  text-align: center;

  cursor: pointer;
}

.card:hover{
  transform: translateY(-12px);

  box-shadow: 0 18px 35px rgba(0,0,0,0.15);
}

.card img{
  width: 100%;

  height: 230px;

  object-fit: cover;

  transition: 0.4s;
}

.card:hover img{
  transform: scale(1.05);
}

.card h3{
  font-size: 30px;

  margin: 20px 18px 10px;

  color: #5D4037;
}

.card p{
  margin: 0 20px 20px;

  line-height: 1.6;

  color: #666;

  font-size: 17px;
}

.card span{
  display: block;

  font-size: 24px;

  font-weight: bold;

  color: #A84300;

  margin-bottom: 20px;
}

/* BOTÃO */

.card button{
  margin-bottom: 25px;

  padding: 14px 30px;

  border: none;

  background: #6B3214;

  color: white;

  border-radius: 14px;

  font-size: 17px;

  cursor: pointer;

  transition: 0.3s;
}

.card button:hover{
  background: #A84300;

  transform: scale(1.05);
}

/* TÍTULO BEBIDAS */

.titulo-bebidas{
  text-align: center;

  margin-top: 10px;

  margin-bottom: -10px;
}

.titulo-bebidas h2{
  font-size: 38px;

  color: #5C2E16;

  font-family: 'Berkshire Swash', cursive;

  font-weight: normal;
}
.card{
  position: relative;
}

.selo{
  position: absolute;

  top: 10px;
  left: 10px;

  padding: 6px 12px;

  border-radius: 20px;

  font-size: 12px;

  font-weight: bold;

  z-index: 10;
}

.mais-pedido{
  background: #f4c542;
  color: #5C2E16;
}

.favorito{
  background: #A84300;
  color: white;
}
.mensagem-carrinho{
  position: fixed;

  top: 100px;
  right: 20px;

  background: #2E7D32;

  color: white;

  padding: 15px 25px;

  border-radius: 12px;

  font-weight: bold;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);

  opacity: 0;

  transform: translateY(-20px);

  transition: 0.4s;

  z-index: 9999;
}

.mensagem-carrinho.mostrar{
  opacity: 1;

  transform: translateY(0);
}header{
  position: sticky;
  top: 0;
  z-index: 99999 !important;
}

nav{
  position: relative;
  z-index: 100000 !important;
}
.carrinho-hover{
  position: relative;
  display: inline-block;
}

.mini-carrinho{
  position: fixed;

  top: 80px;
  right: 30px;

  width: 250px;

  background: white;

  padding: 20px;

  border-radius: 15px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  opacity: 0;

  visibility: hidden;

  transform: translateY(10px);

  transition: 0.3s;

  z-index: 99999;
}

.carrinho-hover:hover .mini-carrinho{

  opacity: 1;

  visibility: visible;

  transform: translateY(0);
}

.mini-carrinho h4{
  color: #5C2E16;
  margin-bottom: 10px;
}


.btn-mini{

  display: block;

  text-align: center;

  background: #A84300;

  color: white;

  text-decoration: none;

  padding: 10px;

  border-radius: 10px;
}